
*.prefs
.DS_Store
.project
sgm-interest-api/.classpath
sgm-interest-api/.project
*.class
*.MF
sgm-interest-data/.classpath
sgm-interest-api/target/classes/application.properties
sgm-interest-api/target/classes/META-INF/maven/com.hmhco/sgm-interest-api/pom.properties
sgm-interest-api/target/classes/META-INF/maven/com.hmhco/sgm-interest-api/pom.xml
sgm-interest-data/target/classes/application.properties
sgm-interest-data/target/classes/META-INF/maven/com.hmhco/sgm-interest-data/pom.properties
sgm-interest-data/target/classes/META-INF/maven/com.hmhco/sgm-interest-data/pom.xml
